/* Nav*/
.navbar-inverse {
    background-color: transparent;
    border: none;
}

.navbar-inverse .navbar-nav > li {
    color: #ffffff;
    border-right: 1px solid white;
}

.navbar-inverse .navbar-nav > li:last-child {
    border-right: none;
}

.navbar-inverse .navbar-nav > li > a {
    color: #ffffff;
}

.navbar-brand > img {
    width: 120px;
    background-color: white;
    border-radius: 10px;
}


/* 1 - Home*/

.home-page {
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    align-content: center;
}


.home-page .home-title {
    display: flex;
    justify-content: space-around;
    flex-flow: column nowrap;
    align-items: center;
    align-content: center;
    height: 100vh;
    background: url("/media/img/wormhole.jpg") no-repeat;
    background-size: cover;
    text-align: center;
    margin-bottom: 0;
}

.home-page .home-title h1 {
    flex: 2;
    font-size: 5vw;
    line-height: 10px;
    white-space: nowrap;
    overflow: hidden;
    color: #fff;
    padding-top: 15%;
    margin: 0 auto;
    font-family: 'Fredoka One', cursive;
    animation: typing 8s steps(60, end);
}

.home-page .home-title button {
    margin-bottom: 50px;

}


.home-page .home-title p {
    flex: 1;
    font-size: 1.5em;
    letter-spacing: 5px;
    color: #fff;
    font-family: 'Fredoka One', cursive;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

.home-service {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
    height: 300px;
    background: url("/media/img/planet-space-art.jpg") no-repeat fixed;
    background-size: cover;
    border-top: white solid 1px;
    border-bottom: white solid 1px;
}

.service-card {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-around;
    height: 75%;
    width: 25%;
    border: white solid 1px;
    background: url("/media/img/star-card.jpg") no-repeat;
    background-size: cover;
}

.slide-up {
    position: absolute;
    background: #000;
    opacity: 0.7;
    bottom: 0;
    left: 0;
    width: 90%;
    height: 15%;
    padding: 5%;
    color: #fff;
    overflow: hidden;
}

.home-test {
    height: 300px;
    background: url("/media/img/stars.jpg") no-repeat;
    background-size: cover;
}

/* carousel */

.home-test h2 {
	text-align: center;
	margin-top: 40px;
	font-weight: bold;
}

#quote-carousel {
	padding: 0 10px 0 10px;
	margin-top: 25px;
}

#quote-carousel .carousel-control {
	background: none;
	color: #ff8533;
	font-size: 2em;
	text-shadow: none;
	margin-top: 30px;
    height: 50px;
}

#quote-carousel .carousel-indicators {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

@media screen and (min-width: 799px) {
    #quote-carousel .carousel-indicators li {
        margin-top: -20px;
    }
}

#quote-carousel .carousel-indicators li {
	width: 50px;
	height: 50px;
	cursor: pointer;
	border:  2px solid #008080;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
	border-radius: 50%;
	opacity: 0.4;
	overflow: hidden;
	transition: all .4s ease-in;
	vertical-align: middle;
}

#quote-carousel .carousel-indicators .active {
    width: 128px;
    height: 128px;
    opacity: 1;
    transition: all .2s;
}

@media (max-width: 800px) {
	#quote-carousel .carousel-indicators .active {
		width: 80px;
		height: 80px;
	}
}
.item blockquote {
    border-left: none;
    margin-bottom: 5%;
}

.item blockquote p:before {
    font-family: 'Fontawesome', sans-serif;
    float: left;
    margin-right: 10px;
}

.fa {
	color: #ff8533;
}

/* # - Contact*/

.contact-page {
    padding-top: 120px;
    background: url("/media/img/bable.jpg");
    background-size: contain;
}

/* Footer */

.footer-distributed {
	background-color: black;
    border-top: white solid 1px;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	width: 100%;
	text-align: left;
	font: normal 16px sans-serif;
	padding: 25px 50px;
	overflow: hidden;
	/*margin-top: 80px;*/
}

.footer-distributed .footer-left p {
	color:  #8f9296;
	font-size: 14px;
	margin: 0;
}

/* Footer links */

.footer-distributed p.footer-links {
	font-size:18px;
	font-weight: bold;
	color:  #ffffff;
	margin: 0 0 10px;
	padding: 0;
}

.footer-distributed p.footer-links a {
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-right{
	float: right;
	margin-top: 6px;
	max-width: 180px;
}

.footer-distributed .footer-right a {
	display: inline-block;
	width: 35px;
	height: 35px;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-left: 3px;
}


@media (max-width: 600px) {

	.footer-distributed .footer-left,
	.footer-distributed .footer-right {
		text-align: center;
	}

	.footer-distributed .footer-right {
		float: none;
		margin: 0 auto 20px;
	}

	.footer-distributed .footer-left p.footer-links {
		line-height: 1.8;
	}
}